RewriteEngine on

RewriteRule ^User/login$ api/UserService.php [NC]
#RewriteRule ^User/Login/^\d{3,40}$ DB/UserService.php?username=^\d{3,40} [NC]
#RewriteRule ^User/Register/^\d{3,40}$ api/UserService.php?username=^\d{3,40} [NC]

