body
{
    background-color: lightcyan;
}
.option
{
    color: blue;
    border:solid thin black;
    width:fit-content;
}
.selected
{
    color: white;
    background-color: black;
}
.center
{
    display:block;
    margin:auto;
}
#orderDetails
{
    border:solid thin black;
    min-width: 200px;
    min-height: 200px;

}