body
{
    background-color: lightcyan;
}
.option
{
    color: blue;
    border:solid thin black;
    width:fit-content;
}
.selected
{
    color: white;
    background-color: black;
}
.center
{
    display:block;
    margin:auto;
}
#orderDetails tr td
{
    border:solid thin black;
    min-width: 200px;
    min-height: 200px;
}
#orderDetails
{
    border-collapse: collapse;
}
#Summary
{
    border:solid thin black;
    padding: 5px;
}
#orderPage tr td
{
    border:solid thin black;
    min-width: 50px;
    min-height: 200px;
}
#orderPage
{
border-collapse: collapse;
}